.destinations-place-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.oneCabin {
  background-color: #1c352f;
  border-radius: 0 15px 15px 15px;
  padding: 30px 40px;
  color: white;
  display: grid;
  grid-template-columns: 2fr 2fr;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  gap: 10px;
}
.oneCabin:hover {
  background-color: #304e46;
}

.right-side {
  text-align: center;
}
.right-side h3 {
  font-size: clamp(20px, 2vw, 28px);
  align-items: start;
  margin-bottom: 24px;
}

.right-side img {
  width: 350px;
  border-radius: 6px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 24px;
}
.right-side img:hover {
  transform: scale(1.1);
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.left-side p {
  font-size: clamp(14px, 1vw, 18px);
  text-align: center;
  padding: 1vw;
}

.left-side button {
  border: none;
  outline: none;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #87a975;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  color: white;

  transition: transform 0.3s ease-in-out;
}

.left-side button:hover {
  background-color: #647c57;
  transform: scale(1.1);
}

@media screen and (max-width: 950px) {
  .left-side p {
    font-size: clamp(12px, 1vw, 14px);
    margin-bottom: 10px;
  }
  .right-side h3 {
    font-size: clamp(16px, 2vw, 20px);
  }
}

@media screen and (max-width: 768px) {
  .oneCabin {
    display: flex;
    flex-direction: column;
  }
  .left-side button {
    padding: 6px 12px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .oneCabin {
    display: flex;
    flex-direction: column;
  }
  .right-side img {
    width: 150px;
  }
}
